:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
  padding: 20px;
}
